.card {
  min-height: 198px;
  height: 100%;
  width: 100%;
  max-width: 375px;
  padding: 24px;
  border: 1px solid var(--color-scheme-2-border);
  border-radius: 12px;
  background: var(--color-scheme-2-foreground);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.avatarWrap {
  position: relative;
  width: 130px;
  height: 130px;
  margin-bottom: 24px;
  overflow: hidden;
  border-radius: 50%;
  flex-shrink: 0;
}

.avatar {
  object-fit: cover;
}

.textBlock {
  width: 100%;
  text-align: left;
}

.cardTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--color-scheme-2-text);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
}

.meta {
  width: 100%;
  text-align: left;
  margin: 0 0 16px;
  color: var(--text-secondary);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.profileBtn {
  margin-top: auto;
  width: 100%;
  padding: 12px;
}

@media (min-width: 768px) {
  .card {
    max-width: 218px;
    min-height: 254px;
    padding: 32px 20px;
  }
}

@media (min-width: 1440px) {
  .card {
    max-width: 310px;
    min-height: 198px;
    padding: 24px;
  }

  .cardTitle {
    font-weight: 600;
    font-size: 26px;
  }

  .meta {
    font-weight: 400;
    font-size: 20px;
  }

  .profileBtn {
    padding: 6px 12px;
    font-size: 20px;
  }
}
