.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1440px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
