.about {
    padding: 48px 0;
    background-color: #eef8ee;
}

.container {
    min-width: 320px;
    max-width: 375px;
    padding-inline: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.title {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.2;
    color: #1b391b;
    margin-bottom: 20px;
}

.description {
    font-size: 16px;
    line-height: 1.5;
    color: #1b391b;
    margin-bottom: 32px;
}

.featuresList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.featureTitle {
    font-size: 18px;
    font-weight: 600;
    color: #1b391b;
    margin-bottom: 12px;
}

.featureText {
    font-size: 16px;
    line-height: 1.5;
    color: #1b391b;
}

.imageWrapper {
    width: 100%;
}

.image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 16px;
}

@media (min-width: 768px) {
    .about {
        padding: 64px 0;
    }

    .container {
        max-width: 768px;
        padding-inline: 32px;
        gap: 40px;
    }

    .title {
        font-size: 44px;
    }

    .featuresList {
        flex-direction: row;
        gap: 32px;
    }

    .featureItem {
        flex: 1;
    }
}


@media (min-width: 1440px) {
    .about {
        padding: 112px 0;
    }

    .container {
        max-width: 1440px;
        padding-inline: 64px;

        flex-direction: row;
        align-items: center;
        gap: 64px;
    }

    .content {
        flex: 1;
        max-width: 640px;
    }

    .imageWrapper {
        flex: 1;
        max-width: 640px;
    }

    .title {
        font-size: 52px;
    }

    .description {
        font-size: 20px;

    }

    .featureTitle {
        font-size: 26px;

    }

    .featureText {
        font-size: 18px;
    }

}