.hero {
    padding: 64px 0;

    background-color: #eef8ee;
}

.container {
    max-width: 375px;
    margin: 0 auto;
    padding-inline: 20px;

    display: flex;
    flex-direction: column-reverse;
    gap: 24px;
}
g
.content {}

.image {
    width: 100%;
    height: auto;
    display: block;
}

.title {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.1;
    color: #1b391b;
    text-align: left;
}

.description {
    margin-top: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 32px;
    color:#1b391b
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 39px;
    width: 278px;
    border-radius: 6px;
    border: 1px solid #4a9849;

    color: white;
    background: #4a9849;
}

.button:hover {
    border: 1px solid #4a9849;
    background-color: #def2de;
    color: #1b391b;
}

@media screen and (min-width: 768px) {
    .hero {
        padding: 64px 0;
    }

    .container {
        max-width: 768px;
        padding-inline: 32px;
    }

    .title {
        font-size: 48px;
    }
}

@media screen and (min-width: 1440px) {
    .hero {}

    .container {
        max-width: 1440px;
        padding-inline: 64px;

        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .content {

        max-width: 640px;
    }

    .image {
        max-width: 640px;
    }

    .title {
        font-size: 56px;
    }
}