.card {
  background-color: var(--card-bg);
  border-radius: 16px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.image {
  object-fit: cover;
}

.content {
  padding: 12px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.meta {
  display: flex;
  gap: 6px;
  font-size: 12px;
  min-height: 20px;
  color: var(--text-muted);
  align-items: center;
}

.metaSeparator {
  color: var(--text-muted);
}

.title {
  display: -webkit-box;
  color: var(--text-primary);
  margin: 8px 0;

  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

  font-size: 14px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.card .infoBtn {
  flex: 1;
  min-width: 0;

  height: 40px;
  font-size: 14px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 6px 12px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  border-color: var(--opacity-neutral-darkest-15);
}

.card .actions .iconBtn {
  flex-shrink: 0;

  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  fill: var(--text-primary);
  padding: 6px;
}

.svg {
  fill: var(--text-primary);
}

@media only screen and (min-width: 767px) {
  .content {
    padding: 16px;
  }

  .meta {
    font-size: 14px;
    min-height: 24px;
  }

  .title {
    font-size: 16px;
    margin: 12px 0;
  }

  .card .infoBtn {
    height: 44px;
    font-size: 15px;
  }

  .card .actions .iconBtn {
    width: 44px;
    height: 44px;
  }
}

@media only screen and (min-width: 1440px) {
  .imageWrapper {
    aspect-ratio: auto;
    height: 421px;
  }

  .meta {
    min-height: 30px;
  }

  .card .infoBtn {
    font-size: 20px;
    height: 48px;
    width: 100%;
  }

  .card .actions .iconBtn {
    width: 48px;
    height: 48px;
  }
}