.pageContainer {
  display: block;
}

.title {
  font-size: 28px;
  letter-spacing: -0.01em;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 40px;
}

.notFoundContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  font-size: 18px;
  font-weight: 500;
  color: var(--text-secondary);
  text-align: center;
}

.placeholderList {
  text-align: center;
  padding: 32px 16px;
  background: var(--color-scheme-2-foreground);
  border-radius: 12px;
  border: 1px solid var(--color-scheme-1-border);
  color: var(--text-on-scheme-2-primary);
}

@media only screen and (min-width: 768px) {
  .title {
    font-size: 44px;
    text-align: left;
  }
}

@media only screen and (min-width: 1140px) {
  .title {
    font-size: 52px;
  }
}
