.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 440px);
  min-height: calc(100dvh - 440px);
}

.messageWrapper {
  flex-grow: 1;
  margin-bottom: 64px;
}

.title {
  font-size: 28px;
  letter-spacing: -0.01em;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 40px;
}

.notFoundContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  font-size: 18px;
  font-weight: 500;
  color: var(--text-secondary);
  text-align: center;
}

@media (min-width: 768px) {
  .pageContainer {
    min-height: calc(100vh - 330px);
    min-height: calc(100dvh - 330px);
  }

  .title {
    font-size: 44px;
    text-align: left;
  }
}

@media (min-width: 1440px) {
  .pageContainer {
    min-height: calc(100vh - 364px);
    min-height: calc(100dvh - 364px);
  }

  .title {
    font-size: 52px;
  }
}
