.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 100px;
  background: #def2de;
  border-radius: 8px;
  padding: 20px 15px;
  gap: 20px;
}

.title {
  font-size: 30px;
  font-weight: 500;
}
.description {
  font-weight: 500;
}
.link {
  padding: 10px 15px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background: rgba(0, 0, 0, 0.05);
  font-weight: 500;
  border-radius: 8px;
}
.link:hover,
.link:focus {
  background: #4a9849;
  color: #fff;
  border: 1px solid #4a9849;
}
