.null_stories_div{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 32px;
    border-radius: 24px;
    padding: 40px 16px;
    max-width: 375px;
    height: 235px;
    background: #def2de;
    margin: 40px 20px 64px;
}

.stories_link{
display: flex;
align-items: center;
justify-content: center;
border: 1px solid #4a9849;
border-radius: 6px;
padding: 6px 12px;
width: 303px;
height: 48px;
background: #4a9849;
}

.text{
font-weight: 700;
font-size: 18px;
line-height: 1.4;
letter-spacing: -0.01em;
color: #000;
}

@media (min-width: 768px ) {
    .null_stories_div{
        padding: 40px 32px;
        width: 533px;
        height: 210px;
        max-width: 768px;
        margin: 40px 0 64px 32px;
    }
    .stories_link{
        width: 205px;
        height: 48px;
    }
}
@media (min-width: 1440px ) {
    .null_stories_div{
        height: 268px;
        max-width: 1440px;
        margin: 40px 0 72px 64px;
    }
    .text{
        font-size: 26px;
    }
    .stories_link{
        width: 250px;
        height: 48px;
    }
}