.join {
    width: 100%;
    max-width: 100%;
    padding: 32px 0;
    box-sizing: border-box;
    background-color: #eef8ee;
}

.container {
    max-width: 375px;
    margin: 0 auto;
    padding-inline: 20px;
}

.content {
    width: 100%;
    border-radius: 16px;
    padding: 16px;
    box-sizing: border-box;
    background-color: #0b1a10;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    background-image: url('/Image/join-mob.webp');
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .content {
        background-image: url('/Image/join-mob@2x.webp');
    }
}

.title {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #ffffff;
    margin: 0 0 16px 0;
}

.description {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #e0e0e0;
    margin: 0 0 24px 0;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 11px 29px;
    background-color: #4a9849;
    border: 1px solid #4a9849;

    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.2s ease;
}

.button:hover {
    border: 1px solid #4a9849;
    background-color: #def2de;
    color: #1b391b;
}


@media (min-width: 768px) {
    .container {
        max-width: 768px;
        padding-inline: 32px;
    }

    .content {
        padding: 16px;
        background-image: url('/Image/join-tab.webp');
    }

    @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
        .content {
            background-image: url('/Image/join-tab@2x.webp');
        }
    }

    .title {
        font-size: 32px;

    }

    .description {
        font-size: 16px;

    }

    .button {
        width: auto;
    }
}

@media (min-width: 1440px) {
    .join {
        padding: 48px 0;
    }

    .container {
        max-width: 1440px;
        padding-inline: 64px;
    }

    .content {
        padding: 63px 480px 63px 64px;
        background-image: url('/Image/join-desk.webp');
    }

    @media (-webkit-min-device-ratio: 2),
    (min-resolution: 192dpi) {
        .content {
            background-image: url('/Image/join-desk@2x.webp');
        }
    }

    .title {
        font-size: 48px;
    }

    .description {
        font-size: 20px;
        margin-bottom: 32px;
    }
}