.article {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #1b391b;
  background-color: var(--color-mantis-lightest);
}

.wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
  width: 100%;
}

.imageWrap {
  overflow: hidden;
  border-radius: 24px;
}

.image {
  width: 755px;
  height: 503px;
  border-radius: 24px;
  object-fit: cover;
}

.backLink {
  display: inline-flex;
  align-items: center;
  margin-bottom: 24px;
  gap: 8px;
}

.iconLink {
  fill: var(--color-mantis-darkest);
}

.textLink {
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
}

.title {
  margin-bottom: 24px;
  text-align: left;
  width: 533px;
  font-size: 24px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -0em;
  color: var(--color-mantis-darkest);
}

.meta {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.metaRow {
  display: flex;
  align-items: center;
  gap: 8px;
}

.metaLabel {
  font-size: 18px;
  font-weight: 700;
  color: var(--color-mantis-darkest);
}

.metaValue {
  font-size: 18px;
  font-weight: 400;
  color: var(--color-mantis-darkest);
}

.categoryBadge {
  display: inline-flex;
  align-items: center;
  width: fit-content;
  padding: 4px 10px;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  color: var(--color-neutral-darkest);
  border-radius: 6px;
  border: transparent;
  background-color: var(--opacity-neutral-darkest-5);
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paragraph {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  color: var(--color-neutral-darkest);
}

@media (min-width: 768px) {
  .article {
    gap: 24px;
  }

  .imageWrap,
  .image {
    border-radius: 32px;
  }

  .backLink {
    font-size: 24px;
  }

  .title {
    font-size: 56px;
  }

  .metaRow {
    font-size: 18px;
  }

  .categoryBadge {
    min-height: 32px;
    padding-inline: 12px;
    font-size: 15px;
  }

  .paragraph {
    text-align: justify;
    width: 865px;
    font-size: 20px;
    line-height: 1.6;
    color: var(--color-mantis-darkest);
  }
}
